.ui.borderless.topmenu.container.menu {
  box-shadow: none; /* remove shadow around the menu */
  border: none; /* remove the border around the menu */
  padding: 10px;

}

.grad-background {
  background-image: url('http://murphyshawaii.com/media/2014/04/murphys-front.jpg');
  background-size: cover;
  height: 85%;
  margin-top: 30px;
}

#murphytext{
  margin-top: 40%;
  color: white;
  font-size: 18px;
}

#murphyimage {
  margin-top: 25%;
}

.footer-background {
  background-color: black;
  color: white;
  padding-top: 10px;
  margin-bottom: 50px;
}